{{> ../partials/header }}

{{> ../partials/navbar }}

{{> ../partials/page-header }}

<div class="bg-white">
  <article class="container py-5">
    <h1>{{ lorem.title-long }}</h1
    <p>{{ lorem.experpt }}</p>
    <p>{{ lorem.article }}</p>
    <h2>{{ lorem.title-long }}</h2
    <p>{{ lorem.experpt }}</p>
    <p>{{ lorem.article }}</p>
  </article>
</div>

{{> ../partials/footer }}
